// Backgrounds
$bg-color-primary: #fff;
$bg-color-accent: #ed3e43;
$bg-color-secondary: #fcfdff;
$bg-color-popup: #29292b;

// Font colors
@import url('https://fonts.googleapis.com/css?family=Lato:400,400i,700&display=swap');
$primary-font-family: 'Lato', sans-serif;
$font-color-primary: #27282a;
$font-color-secondary: #6f7072;
$font-color-accent-primary: #d33f4d;
$font-color-accent-secondary: #d07932;

// Borders
$border-section: 1px solid #f0f1f3;
$border-accent: 0.5px solid #aa2c2f;

// Shadows
$card-shadow: -1px 3px 5px 9px rgba(234, 241, 251, 0.71);
