// Imports
// Project settings
@import './lib/normalize.scss';
@import './components/settings.scss';
@import './components/navbar.scss';

*,
*::after,
*::before {
  box-sizing: border-box;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: $primary-font-family;
  // background: red;
}
